








<div class="container">
<div class ="patient_home">
<h1>Patients</h1>

<h4> Please select your name below or Create a new patient below 
<br>
<%= link_to "Create Patient", new_user_path, class: "btn btn-success" %>
<hr />
<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
    </li>
<% end %>
</ul>
</div>
</div>