// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.patient_home {
  padding-top: 3rem;
  text-align: center;
  
}

ul{
  list-style-type: none;
  padding-right: 3rem;
}
.navbar-nav {
  margin-top: 1rem;
}

body{
  background-image: url(https://images.unsplash.com/photo-1584362917165-526a968579e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=782&q=80);
}